* {
  margin: 0px;
  padding: 0px;
  
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}
p {
  font-size: 12px;
  text-align: center;
  
}

  

h3 {
  font-size: 24px;
}
.precio {
  font-size: 18px;
  text-align: left;
  margin-top: 5px;
  width: 28%;
  display: flex;
  
}
.descuento {
  font-size: 16px;
  text-align: right;
  color: #39b54a;
  margin-top: 5px;
  width: 68%;
  display: flex;
  align-items: flex-end;
  
}
.descripcion {
  font-size: 10px;
  text-align: left;
  margin-top: 5px;
  display: none;
  opacity: 0%;
  transition: 900ms;
  width: 100%;
}
header {
  background-color: #eac926;
  
  
  
}
header p {
  margin-top: 10px;
  display:flex;
  align-items: flex;
  flex-direction: row;
  

}
header nav {
  display: none;
  font-size: 12px;
  margin-top: 10px;
  justify-content: space-between;
  
  
  
}
.navLogo{
  display:flex;
}
header ul {
  display: flex;
  margin: 10px;
  margin-top: 10px;
}
.nav2{
  display: flex;
  justify-content: flex-end;
}
header ul li {
  list-style-type: none;
  display: flex;
  margin: 14px;
  margin-top: 10px;
  
  
}
header ul li a {
  text-decoration: none;
  color: #000;
}
main img {
  width: 100%;
}
.burger-menu {
  text-align: center;
}
.burger-menu i {
  background-color: #1259c3;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}
.logo img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
.buscador{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 50%;
  align-self: flex-end;
  padding: 10px;
  border-radius: 30px;
  margin-left: 5px;
  text-align: center;
  height: 40px;
  
}
.p{
  align-items: flex-end;
}


/*  footer{ */
.footer-icons {
  color: #1259c3;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  
}


footer p {
  text-align: center;
  padding: 10px;
}
footer h4 {
  text-align: center;
  font-weight: bold;
}
footer {
  background-color: #fff;
  margin-top: 20px;
}
/* }footer*/

/* main{*/

main section {
  width: 90%;
  margin: auto;
  align-items: center;
justify-content: space-around;
  
 
}
main section article {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 10px;

  
  
}
.contenedor-articulo {
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  padding: 1px;
  display: block;

}
.circulo-icono {
  color: #39b54a;
  border-radius: 50%;
  border: 1px solid #39b54a;
  width: 30px;
  height: 30px;
  padding: 5px;
  align-items:flex-end;
  float: right;
  margin-right: 30px;
  transition: 400;
}
.fa-truck {
  margin: 5px;
  transition: (-90deg);
  float: right;
}

.contenedor1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  padding: 1px;
  }
  
@media (min-width: 361px) {
  .descripcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
        width: 40%;
  }
  .descripciones:hover{
    display: block;
    opacity: 100%;
    transition: 1s;
  }
  header nav {
    display: flex;


  }
  .burger-menu {
    display: none;
  }
}
.fa-truck:hover {
  transform: rotate(-90deg);
  transition: 1s;
}
@media (min-width: 769px){
  main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
        justify-content: space-around;
        width: 20%;

    
    
    
  }

}


@media (min-width: 1200px) {

  header nav {margin: auto;
  }

  
.article:hover {
  box-shadow: 0px 0px 10px rgba(100, 100, 100);
}






/*BOTONLOGIN:hover {
  background-color: #0022AA;
  transition: 1s;
}*/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.footer1 {
  width: 33%;
}
.footer-icons:hover{
     color: red;
  transition: 1s;
}
.article:hover .descripcion{  
  opacity: 100%;
  display: block;
  transition: 1s;
  opacity: 0%;
  transition: 900ms;
}
/*.descripcion {
  text-align: left;
  font-size: 16px;
  margin-top: 5px;
  color: black;
  display: none;
  
}*/
.article:hover {
  box-shadow: 0px 0px 10px rgba(100, 100, 100);
}



}
/* formulario

arreglar..
descripcion
bucador

enlaces
*/
.formulario{
  display: block;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  padding: 20px;
  background-color: rosybrown;
}


.datos, .fecha, .perfil, .intereses, .foto, .contra{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;

}

.ingresa{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  padding: 50px;
  border: solid 2px blue;
}